.footer {
    padding: 35px 0;
    &__nav {
    }
}
.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    &__li {
        padding: 10px;
    }
    &__link {
        @include text($font, 400, 18px, 27px, $c-body);
    }
}
