.footer {
    padding: 35px 0;
    @include  tablet-small {
        padding: 20px 0;
    }
}
.footer .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    @include tablet-small {
        gap: 20px;
    }
    &__li {
        padding: 10px;
    }
    &__link {
        @include text($font, 400, 18px, 27px, $c-body);
    }
}
