.main-screen {
    padding-top: 211px;
    padding-bottom: 64px;
    position: relative;
    display: flex;
    @include desktop-small {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
    }
    @include tablet-small{
        margin-top: 59px;
    }
	&__info {
        padding-left: 84px;
        max-width: 586px;
        position: relative;
        @include desktop-small {
            padding-top: 90px;
            }
        @include tablet-small {
            padding-left: 0;
            padding-top: 50px;
            z-index: 2;
            width: 100%;
            }
	}
	&__arrow {
        position: absolute;
        left: 0;
        top: 45px;
        @include desktop-small {
                top: 125px;
            }
        @include tablet-small {
            display: none;
            }
	}
	&__title {        
            padding-bottom: 48px;
            &__name {
                @include text($font, 700, 96px, 96px, $c-white);
                span {
                    color: $c-primary;
                }
                @include tablet-small {
                    font-size: 46px;
                    text-align: center;
                    line-height: 46px;
                }
            }
	}
	&__btn {
        display: flex;
        gap: 24px;
        margin-bottom: 243px;
        @include tablet-small {
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
        }
	}
    &__scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 96px;
        width: 96px;
        background: $c-bg-btn;
        cursor: pointer;
        transition: $transition;
        @include tablet-small {
            height: 40px;
            width: 40px;
        }
        .material-symbols-outlined {  
            color: $c-body-light;
            font-size: 45px;
            @include tablet-small {
                font-size: 30px;
            }
        }
        &:hover {
            width: 86px;
        }
    }
	&__bg {
             max-width: 514px;
             max-height: 514px;
             position: absolute;
             right: 0;
             & img {
                width: 100%;
             }
             @include desktop-small {
               display: none;
             }
	}
	&__body {
        max-width: 400px;
        max-height: 472px;
        position: absolute;
        right: 135px;
        top: 355px;
        & img {
            width: 100%;
        }
        @include desktop-small {
            display: none;
        }            
	}        
}
// animista
.vibrate-1 {
	animation: vibrate-1 0.7s linear 5 both;
}
@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }


  
  
